body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Bitter', serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}


header.startup {
  background-position: center;
  background-image: url("tv-shows.gif");
  background-size: cover;
  height: 100%;
}


header.startup h1 {
  font-size: 2rem; 
  color: #FAFBE2;
  background-size: 100% 80%;
  background-color: rgba(229, 24, 24,0.7);
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
  